:root {
  --white: hsl(0, 0%, 100%);
  --jet: hsl(120, 1%, 17%);
  --dark: hsl(208, 37%, 20%);
  --secondary: hsl(245, 17%, 29%);
  --accent: hsl(0, 100%, 69%);
  --dark-accent: hsl(8, 49%, 51%);
  --shadow: hsla(0, 0%, 0%, 0.13);
  --lightgrey: hsl(60, 3%, 93%);
  --timeline: hsl(0, 0%, 86%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--jet);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
  margin: 0;
}

html {
  overflow-y: scroll;
}

.amatic-sc-regular {
  font-family: "Amatic SC", Inter, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", Inter, system-ui, sans-serif;
  font-weight: 700;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  transition: all ease 0.2s;
  text-decoration: none;
}

h1 {
  color: var(--accent);
  margin: 0;
}

h2 {
  color: var(--lightgrey);
  margin: 0;
}

h1.amatic-sc-bold {
  font-size: 60px;
}

h2.amatic-sc-bold {
  font-size: 50px;
  color: var(--accent);
}

p {
  font-size: 14px;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--lightgrey);
}

.logo a:hover {
  color: var(--dark);
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.txt-center {
  text-align: center;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: 0;
}

.skills {
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--lightgrey);
  }

  a:hover {
    color: var(--dark);
  }

  .logo a:hover {
    color: var(--lightgrey);
  }

  h2 {
    color: var(--dark);
  }
}

@media screen and (max-width: 768px) {
  h1.amatic-sc-bold {
    font-size: 40px;
  }

  h2.amatic-sc-bold {
    font-size: 30px;
  }

  .skills {
    margin-bottom: 0;
  }

  footer {
    flex-direction: column;
    position: relative;
  }
}
