header {
  background-color: var(--jet);
  opacity: .8;
}

.nav-items a {
  color: var(--lightgrey);
}

.nav-items a:hover {
  transition: all ease 0.2s;
  color: var(--accent);
}

.nav-menu {
  background-color: white;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.nav-items li {
  padding: 0 10px;
}

@media screen and (max-width: 768px) {

  .nav-menu {
    padding-top: 10px;
    position: absolute;
    width: 100%;
  }

  .open-menu {
    opacity: 1;
    height: 150px;
  }

  .closed-menu {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  .nav-content {
    flex-direction: column;
    z-index: 100;
    position: relative;
    transition: all 0.2s ease-out;
  }

  .nav-items {
    flex-direction: column;
  }

}
